<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="show-friends">
      <ion-icon name="people"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="add-friend">
      <ion-icon name="person-add"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="home-map">
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile-home">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
