<ion-header>
  <ion-toolbar>
    <ion-title>Friend List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()"
    #mySearchbar
  ></ion-searchbar>
  <ion-item *ngFor="let orang of user2">
    <ion-avatar>
      <ion-img src="{{orang.imageUrl}}"></ion-img>
    </ion-avatar>
    <ion-label>{{orang.nDepan}} {{orang.nBelakang}}</ion-label>
    <ion-buttons>
      <ion-button (click)="presentAlert(orang)"
        ><ion-icon name="close-circle-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>
